.App {    
        display: flex;
        flex-flow: column;
        height: 100%;      
}

.navNav ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.navNavProfile {
    display: flex;
    flex-direction: row;
}

.navNav li {
    list-style-type: none;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}

.navNav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    font-family: Abril Fatface;
    background-color: #F2F2F2;
    border-bottom: 3px solid #F79174;
    font-size: 1em;

}

.navRightSide{
    margin-left: auto;
    display: flex;
}

.deconnexion button {
    font-family: Abril Fatface;
    background-color: #C05946;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    border:none;
    color:#F2F2F2;
    cursor: pointer;    
    box-shadow: 2px 2px #8D1D16;
}

.deconnexion button:hover{    
    box-shadow: 3px 3px #8D1D16;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.connexion{
    margin-left: auto;
}

.connexion button {
    font-family: Abril Fatface;
    background-color: #258A54;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    border:none;
    color:#EAFADD;
    cursor: pointer;    
    box-shadow: 2px 2px #25633D;
}

.connexion button:hover{    
    box-shadow: 3px 3px #25633D;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.settings button {
    font-family: Abril Fatface;
    background-color: #F79174;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    border:none;
    color:#F2F2F2;
    cursor: pointer;    
    box-shadow: 2px 2px #AB6350;
}

.settings button:hover{    
    box-shadow: 3px 3px #AB6350;
    transition-duration: 300ms;
    transition-property: box-shadow transform;
}

.settings button:hover > .gearIcon{
    transform: rotate(180deg);
    transition: transform 500ms ease-in-out
}

.navNav a {
    text-decoration: none;
    color: black;

}

.navNav>button {
    background: transparent;
    color: var(--white);
    border: none;
}

@media screen and (max-width: 650px) {
    .navText{
        display: none;
    }
    .navNav li {
        margin-right: 0.9rem;
    }
  }

@media screen and (min-width:650px){
    .navIcon{
        display: none;
    }
    .navNav li {
        margin-right: 1.2rem;
    }
}

.pseudo{
    align-self: center;
}

.navText{
    margin: 0;
}


.construction{
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.navImage{
    width:3rem;
    height:3rem;
    margin-right: 1rem;
    object-fit: cover;
}