.App{
    height:100%;
}
ul {
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    margin-right: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height:50px;
    font-family: Abril Fatface;
    
}

a {
    text-decoration: none;
    color: black;
    
}

nav>button {
    background: transparent;
    color: var(--white);
    border: none;
}
