.cell:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 300ms;
}

.cell:hover .cellX {
  transform: rotate(90deg);
  transition: transform 300ms ease-out;
}

.cell:hover .cellO {
  transform: rotateY(180deg);
  transition: transform 300ms ease-out;
}

@keyframes floating0 {  0% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating5 {  0% {    transform: translate(0, 0.5rem);  } 5% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating10 {  0% {    transform: translate(0, 0.5rem);  } 10% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}

@keyframes floating15 {  0% {    transform: translate(0, 0.5rem);  } 15% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating20 {  0% {    transform: translate(0, 0.5rem);  } 20% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating25 {  0% {    transform: translate(0, 0.5rem);  } 25% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}

@keyframes floating30 {  0% {    transform: translate(0, 0.5rem);  } 30% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating35 {  0% {    transform: translate(0, 0.5rem);  } 35% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}
@keyframes floating40 {  0% {    transform: translate(0, 0.5rem);  } 40% {    transform: translate(0, 0.5rem);  }  50% {    transform: translate(0, 0rem);  }}



