@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.formBody {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;       
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: auto;    
    overflow-x: hidden;
    padding-right: 0px;
}

.formContainer::-webkit-scrollbar {
    width: 8px;
}
 
.formContainer::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.formContainer::-webkit-scrollbar-thumb {
    background-color: #ffc3ae;
    border-radius: 100px;
}



.formContainer input {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 5px 5px #ffc3ae;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formContainer input:focus {
    box-shadow: 6.5px 6.5px #ffc3ae;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.formContainer button {
    width: 50px;
    padding: 5px 5px;
    margin: 8px 0;
    outline: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 5px 5px #ffc3ae;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.formContainer button:hover {
    box-shadow: 4px 4px #ffc3ae;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.formContainer button:focus{    
    box-shadow: 2px 2px #ffc3ae;
}


.formContainer form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formContainer h2 {
    font-family: Abril Fatface;
    font-size: 1.3em;
    margin-right: auto;
    margin-bottom: 8px;

}

.formBody p {
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formNames{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width:292px;
}

.formNames input{
    width:95px;
    
}

.inputValid{
    box-shadow: 5px 5px #4cf579;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.inputInvalid{
    box-shadow: 5px 5px #ffc3ae;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.hide {
    display: none;
}

.instructions {
    color: #ab9471;
    margin-top: 0;
}

.infoProfs{
    margin-top: 0;
}

.errmsg{
    color:red;
    margin-bottom: 0;
}

