@media screen and (max-width: 71rem) {

    .fileViewer {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width:40rem) {
    .fileManager {
        width: 25rem;
    }

}


@media screen and (min-width:71rem) {
    .fileViewer {
        min-width: 612px;
        height: 34rem;
    }
}

.fileViewer {
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    border-bottom: 3px solid #012E40;
}

/* width */
.fileList::-webkit-scrollbar,
.fileViewer::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

/* Track */
.fileList::-webkit-scrollbar-track {}

/* Handle */
.fileList::-webkit-scrollbar-thumb,
.fileViewer::-webkit-scrollbar-thumb {
    background: #012E40;
}

/* Handle on hover */
.fileList::-webkit-scrollbar-thumb:hover,
.fileViewer::-webkit-scrollbar-thumb:hover {
    background: #024959;
}

.linkAnnotation {
    display: none;
}

.react-pdf__message {
    display: none;
}