.identity{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.identity form {
    display: flex;
    align-items: flex-start;
}

.pseudoSubmit{
    color:#F2E3D5;
    padding: 0.8rem 1rem;
    margin-top:0.5rem;
    outline: none;
    background-color: #3CA6A6;
    border: 0.2rem solid #3CA6A6;
    border-radius: 0px;
    box-shadow: 2px 2px #026773;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.identity input {
    background-color: #F2E3D5;
    width: 11.4rem;
    padding: 0.8rem 1rem;
    margin-top:0.5rem;
    outline: none;
    border: 0.2rem solid #3CA6A6;
    border-radius: 0px;
    box-shadow: 2px 2px #026773;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.identity h3{
    font-family: Abril Fatface;
    margin-bottom: 0px;
}

.preferences{
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:17rem;
}

.previewImage{
    width:7.6rem;
    height:7.6rem;
    border: 0.2rem solid #024959;
    margin-bottom: 0.2rem;
    object-fit: cover;

}

.previewAvatar{
    width:7.6rem;
    height:7.6rem;
    border: 0.2rem solid #024959;
    margin-bottom: 0.2rem;

}

.chooseImage, .chooseAvatar {
    color: #F2E3D5;
    display: block;
    background-color: #024959;
    font-family: Abril Fatface;
    font-size: 0.9rem;
    padding: 0.8rem 0rem;
    cursor: pointer;
    border: none;
    width:8rem;
    box-shadow: 2px 2px #012E40;
    margin-top: 0px;
}

.chooseImage:hover, .chooseAvatar:hover{
    box-shadow: 3px 3px #012E40;
    transition-duration: 300ms;
    transition-property: box-shadow;
}

.importProfilePic{    
    margin-top: 1rem;
    display: flex;
}
.pictureInput{
    display: none;
}

.pictureLabel p {    
    display: inline;
    margin-left: 0.5rem;
}

.pictureLabel, .pictureSendButton{
    color: #F2E3D5;
    text-align: center;
    display: block;
    background-color: #024959;
    font-family: Abril Fatface;
    font-size: 0.9rem;
    padding: 0.8rem 0rem;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px #012E40;
    margin-bottom: 1rem;
}

.pictureLabel{
    width:13.9rem;
}

.pictureSendButton{
    width:3rem;
    border-left: 1px solid #F2E3D5;
}

.pictureLabel:hover, .pictureSendButton:hover{
    box-shadow: 3px 3px #012E40;
    transition-duration: 300ms;
    transition-property: box-shadow;
}