.profileMain {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 750px) {
    .profileMain{
        flex-direction: column;
    }

    .profileSettings{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
  }

@media screen and (min-width:750px){
    .profileSettings{
        margin-right: 7rem;
    }
}

.profileGraphics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileSettings h3:first-of-type {
    margin-top: 0;
}

.pcSettings {
    margin-right: 5rem;
}


.profileSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pcMain {
    display: flex;
    flex-grow: 1;    
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.controls-firstRow,
.controls-secondRow,
.controls-thirdRow {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controls-firstRow button,
.controls-secondRow button {
    border-radius: 3px;
    background-color: #026773;
    box-shadow: 2px 2px #024959;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F2E3D5;

}

.controls-thirdRow button {
    border-radius: 3px;
    background-color: #026773;
    box-shadow: 2px 2px #024959;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F2E3D5   ;
    border-bottom: 1px solid black;

}

.controls button {
    cursor: pointer;
    padding: 12px;
    border: none;
}

.controls-firstRow button:hover+ {
    background-color: black;
}

.btn-ins {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-btn:hover{
    transform: scale(1.02);
    transition-duration: 300ms;
    transition-property: transform;
}
