.tictactoe {
    flex: 1;
    display: grid;
    place-content: center;
    background-color: #E4F2E7;
}

.tictactoe-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--secondary-color);
    gap:0.5rem;
}

.waitingRoom{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice{
    animation-name: dice-anim;
    animation-duration: 5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes dice-anim{
        0% {
            transform: rotate(0deg);
        }
    
        25% {
            transform: rotate(90deg);
        }
    
        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(270deg);
        }

        100% {
            transform: rotate(360deg);
        }
}

.container {
    display: flex;
    flex-grow: 1;
    width: 80%;
    place-content: center;
    place-items: center;
    overflow: hidden;
  }
  
  .item {
    cursor: grab;
  }

  .item:active{
    cursor: grabbing;
  }