.tictactoe {
    flex: 1;
    display: grid;
    place-content: center;
}

.tictactoe-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--secondary-color);
    gap: 0.5rem;
}

.waitingRoom{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}