html, body{
    height: 100%;
}

body{
    margin:0;
}

#root{
    height: 100%;
}

#jitsi-iframe{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    height:100px;
}

.itemDark {
    overflow: visible;
    stroke: #90e0ef;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.itemLight {
    overflow: visible;
    stroke: #023e8a;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
}