html, body{
    height: 100%;
}

body{
    margin:0;
}

#root{
    height: 100%;
}

#jitsi-iframe{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    height:100px;
}